<div id="product-landing">
    
    <header>
        <div id="nav">
          
    

    </div>


    

    <div id="hero">
        <div id="hero-intro">
          <div id="hero-text">
            <h1>Are you Hungry ?</h1>
            
            <p>Aliquam rhoncus pretium dolor volutpat lectus odio non tellus neque. Aliquet et purus nibh bibendum integer etiam in enim nisi.</p>
          </div>
          <div id="hero-action-btn">
            <div id="apple" class="hero-btn">
              <a href="">
                <img  src="/assets/img/applebadge.png" alt="App Store Web button.">
              </a>
            </div>
            <!-- <div id="google" class="hero-btn"><a href="">
                <img style="width: 180px;"  src="/assets/img/googleplay.png" alt="Google Play button.">
              </a>
    
            </div> -->
          </div>
        </div>
        <div id="hero-visual">
            <div id="hero-img">
              <img src="/assets/img/foods.png" alt="iPhone 15 display.">
            </div>
          </div>
        
        
       