<!-- Testimonial -->
<div class="section" id="testimonial">
    <div class="container flex">
      <div class="text">
        <h2 class="secondary">What people say about <br> FoodLover</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore,
          eos <br> voluptatem odio, molestias ullam error dolor rem laboriosam illo
          quae odit <br> aliquam sint a amet, autem natus! Praesentium, ipsam
          mollitia?
          
        </p>

        <div class="user flex">
          <img src="https://wallpapercave.com/dwp2x/wp6553560.jpg" alt="" />

          <div class="name">
            <div class="title">Ajmal</div>
            <div class="location">calicut, kerala</div>
          </div>
        </div>
      </div>
      <div class="visual">
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <!-- End Testimonial -->