 <!-- About -->
 <div class="section" id="about">
    <div class="container flex">
      <div class="visual">
        <img src="/assets/img/pizza hu.png" alt="" />
      </div>
      <div class="text">
        <div class="secondary">About Our Restaurant</div>
        <h2 class="primary">100+</h2>

        <h3 class="tertiary">Our Delicious Food</h3>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
          itaque saepe id <br> hic rem doloribus quas   esse voluptatibus eius sequi,
          possimus maxime dolores <br> tempore facilis fugit porro mollitia, est
          consequuntur.
        </p>

        <a href="" class="btn">Explore Menu</a>
      </div>
    </div>
  </div>
  <!-- End About -->