.section {
    width: 100%;
    padding: 40px 0;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    padding: 0 30px;
  }
  
  .primary {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .secondary {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .tertiary {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 14px 20px;
    background: orange;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 20px 0;
  }
  
  /* End Base */


  /* FAQ */
#faq .secondary {
    text-align: center;
  }
  
  .faq {
    width: 60%;
    margin: 50px auto 20px auto;
  }
  
  summary {
    padding: 1em;
    border: 1px solid #b2b2b2;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: 0.3em;
    font-weight: 600;
  }
  
  details[open] summary ~ * {
    animation: open 1s ease-in-out;
  }
  
  @keyframes open {
    from {
      opacity: 1;
      margin-top: -10px;
    }
  
    top {
      opacity: 1;
      margin-top: 0;
    }
  }
  /* End FAQ */
  
  /* App */
  #app {
    text-align: center;
  }
  
  .app-store {
    background: #000;
    margin: 0 10px;
    padding: 4px 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
  }
  
  .app-store p {
    margin-top: 8px;
  }
  
  .app-store span {
    font-size: 16px;
    line-height: 25px;
  }
  
  .app-store i {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .download {
    margin: 30px 0;
  }
  /* End App */
  