<!-- FAQ -->
<div class="section" id="faq">
    <h2 class="secondary">Frequently Asked Questions</h2>

    <div class="faq">
      <details>
        <summary>I got wrong food what shoud I do?</summary>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Asperiores amet sunt at?
          </p>
        </div>
      </details>

      <details>
        <summary>I got wrong food what shoud I do?</summary>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Asperiores amet sunt at?
          </p>
        </div>
      </details>

      <details>
        <summary>I got wrong food what shoud I do?</summary>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Asperiores amet sunt at?
          </p>
        </div>
      </details>

      <details>
        <summary>I got wrong food what shoud I do?</summary>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Asperiores amet sunt at?
          </p>
        </div>
      </details>
    </div>
  </div>
  <!-- End FAQ -->

  <!-- App -->
  <div class="section" id="app">
    <div class="container flex">
      <div class="visual">
        <img src="/assets/img/logo delivery app.png" alt="" />
      </div>

      <div class="text">
        <h2 class="secondary">Download The <span style="color: orange;">Hungry</span> <span style="color: green;">Now</span> App</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          laudantium velit iure illo facilis at delectus sint, doloribus
          magnam officiis rerum nobis, perspiciatis maxime repellat qui
          consequuntur? Aspernatur, architecto voluptatum!
        </p>

        <div class="download flex">
          <div class="app-store">
            <i class="fa-brands fa-google-play"></i>
            <p>
              GET IT ON <br />
              <span>Google Play</span>
            </p>
          </div>

          <div class="app-store">
            <i class="fa-brands fa-app-store-ios"></i>
            <p>
              DoWnload on the <br />
              <span>App Store</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End App -->

 