<!-- How It Works -->
<div class="section" id="how-it-works">
    <h2 class="secondary">How It Works</h2>

    <div class="container flex">
      <div class="box">
        <h3>Easy Order</h3>
        <i class="fa-solid fa-truck"></i>
                <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
          non?
        </p>
      </div>

      <div class="box active">
        <h3>Best Quality</h3>
        <i class="fa-regular fa-star"></i>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
          non?
        </p>
      </div>

      <div class="box">
        <h3>Fast Delivery</h3>
        <i class="fa-regular fa-clock"></i>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
          non?
        </p>
      </div>
    </div>
  </div>
  <!-- End How It Works -->
